
/****** Object:  Table [dbo].[ContenedorControl]    Script Date: 27/01/2022 01:40:26 a. m. ******/
DROP TABLE [dbo].[ContenedorControl]
GO
/****** Object:  Table [dbo].[ContenedorControl]    Script Date: 27/01/2022 01:40:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContenedorControl](
	[IdContenedor] [int] IDENTITY(1,1) NOT NULL,
	[IdAplicacion] [int] NULL,
	[IdTipoControl] [int] NULL,
	[Id] [nvarchar](150) NULL,
	[Titulo] [nvarchar](250) NULL,
	[Alto] [nvarchar](10) NULL,
	[Ancho] [nvarchar](10) NULL,
	[Superior] [nvarchar](10) NULL,
	[Izquierda] [nvarchar](10) NULL,
	[Activo] [bit] NULL,
	[Argumentos] [nvarchar](max) NULL,
	[Encabezado] [nvarchar](2) NULL,
	[ColorVentana] [nvarchar](20) NULL,
	[ColorTituloVentana] [nvarchar](20) NULL,
	[Columnas] [nvarchar](2) NULL,
	[PosicionMenu] [nvarchar](10) NULL,
	[IdMenu] [nvarchar](20) NULL,
	[TipoMenu] [nvarchar](20) NULL,
	[MarcoVentana] [nvarchar](20) NULL,
	[Secciones] [nvarchar](max) NULL,
	[OpcionPestana] [nvarchar](10) NULL,
 CONSTRAINT [PK_ContenedorControl] PRIMARY KEY CLUSTERED 
(
	[IdContenedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ContenedorControl] ON 

INSERT [dbo].[ContenedorControl] ([IdContenedor], [IdAplicacion], [IdTipoControl], [Id], [Titulo], [Alto], [Ancho], [Superior], [Izquierda], [Activo], [Argumentos], [Encabezado], [ColorVentana], [ColorTituloVentana], [Columnas], [PosicionMenu], [IdMenu], [TipoMenu], [MarcoVentana], [Secciones], [OpcionPestana]) VALUES (2010, NULL, 3025, N'Contacto', N'Contacto', NULL, NULL, NULL, NULL, 1, N'', N'SI', N'colorVioletaOrchid', N'colorAmarillo', N'2', N'Inferior', N'', N'IconoFuente', N'Marco', N'', N'PSI_NSI')
INSERT [dbo].[ContenedorControl] ([IdContenedor], [IdAplicacion], [IdTipoControl], [Id], [Titulo], [Alto], [Ancho], [Superior], [Izquierda], [Activo], [Argumentos], [Encabezado], [ColorVentana], [ColorTituloVentana], [Columnas], [PosicionMenu], [IdMenu], [TipoMenu], [MarcoVentana], [Secciones], [OpcionPestana]) VALUES (2011, NULL, 3025, N'Acceso', N'Acceso', NULL, NULL, NULL, NULL, 1, N'', N'NO', N'ColorTema', N'ColorTema', N'1', N'Inferior', N'414', N'IconoFuente', N'MarcoOculto', N'', N'PNO_NNO')
INSERT [dbo].[ContenedorControl] ([IdContenedor], [IdAplicacion], [IdTipoControl], [Id], [Titulo], [Alto], [Ancho], [Superior], [Izquierda], [Activo], [Argumentos], [Encabezado], [ColorVentana], [ColorTituloVentana], [Columnas], [PosicionMenu], [IdMenu], [TipoMenu], [MarcoVentana], [Secciones], [OpcionPestana]) VALUES (2014, NULL, 3025, N'SeleccionPerfil', N'Seleccion Perfil', NULL, NULL, NULL, NULL, 1, N'', N'NO', N'ColorTema', N'ColorTema', N'0', N'Inferior', N'415', N'IconoFuente', N'Marco', N'', N'PNO_NNO')
SET IDENTITY_INSERT [dbo].[ContenedorControl] OFF
