
/****** Object:  Index [PK_CuentaUsuario]    Script Date: 01/02/2022 12:17:08 a. m. ******/
ALTER TABLE [dbo].[CuentaUsuario] DROP CONSTRAINT [PK_CuentaUsuario]
GO
/****** Object:  Table [dbo].[CuentaUsuario]    Script Date: 01/02/2022 12:17:08 a. m. ******/
DROP TABLE [dbo].[CuentaUsuario]
GO
/****** Object:  Table [dbo].[CuentaUsuario]    Script Date: 01/02/2022 12:17:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CuentaUsuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Cuenta] [varchar](100) NULL,
	[Contrasena] [varchar](250) NULL,
	[IdEstacionTrabajo] [varchar](50) NULL,
	[IdUsuarioSuperior] [int] NULL,
	[FechaRegistro] [smalldatetime] NULL,
	[FechaVigencia] [smalldatetime] NULL,
	[FechaCambioEstatus] [smalldatetime] NULL,
	[Tema] [varchar](30) NULL,
	[IdEstatusUsuario] [smallint] NULL,
	[Activo] [tinyint] NULL,
	[IdSuscriptor] [int] NULL,
	[Sesiones] [int] NULL,
	[Intentos] [int] NULL,
	[IdIdioma] [int] NULL,
	[Perfiles] [nvarchar](max) NULL,
	[Grupos] [nvarchar](max) NULL,
	[Expira] [bit] NULL,
	[Privilegios] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CuentaUsuario] ON 

INSERT [dbo].[CuentaUsuario] ([IdUsuario], [Cuenta], [Contrasena], [IdEstacionTrabajo], [IdUsuarioSuperior], [FechaRegistro], [FechaVigencia], [FechaCambioEstatus], [Tema], [IdEstatusUsuario], [Activo], [IdSuscriptor], [Sesiones], [Intentos], [IdIdioma], [Perfiles], [Grupos], [Expira], [Privilegios]) VALUES (1, N'administrador', N'123', NULL, NULL, NULL, NULL, CAST(N'2022-01-31 23:41:00' AS SmallDateTime), N'AzulColoresPasteles', 0, 1, 1, 0, 0, 1, N'1,2,3,1008,1009,1007', N'1', NULL, N'')
INSERT [dbo].[CuentaUsuario] ([IdUsuario], [Cuenta], [Contrasena], [IdEstacionTrabajo], [IdUsuarioSuperior], [FechaRegistro], [FechaVigencia], [FechaCambioEstatus], [Tema], [IdEstatusUsuario], [Activo], [IdSuscriptor], [Sesiones], [Intentos], [IdIdioma], [Perfiles], [Grupos], [Expira], [Privilegios]) VALUES (2, N'giorgio', N'123', NULL, 1031, NULL, NULL, CAST(N'2022-02-01 00:12:00' AS SmallDateTime), N'AzulColoresPasteles', 0, 1, 2, 2, 0, 1, N'1,2,3,4', N'1', NULL, N'')
INSERT [dbo].[CuentaUsuario] ([IdUsuario], [Cuenta], [Contrasena], [IdEstacionTrabajo], [IdUsuarioSuperior], [FechaRegistro], [FechaVigencia], [FechaCambioEstatus], [Tema], [IdEstatusUsuario], [Activo], [IdSuscriptor], [Sesiones], [Intentos], [IdIdioma], [Perfiles], [Grupos], [Expira], [Privilegios]) VALUES (4, N'cuauhtemoc.baez', N'123', NULL, 2, NULL, NULL, CAST(N'2022-01-15 23:32:00' AS SmallDateTime), N'AzulColoresPasteles', NULL, 1, 2, 0, 0, 1, N'4', N'4', NULL, N'')
SET IDENTITY_INSERT [dbo].[CuentaUsuario] OFF
/****** Object:  Index [PK_CuentaUsuario]    Script Date: 01/02/2022 12:17:08 a. m. ******/
ALTER TABLE [dbo].[CuentaUsuario] ADD  CONSTRAINT [PK_CuentaUsuario] PRIMARY KEY NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
