
ALTER TABLE [dbo].[OpcionMenu] DROP CONSTRAINT [FK_OpcionMenu_Menu]
GO
/****** Object:  Index [PK__OpcionMe__8171736B32E0915F]    Script Date: 27/01/2022 01:40:26 a. m. ******/
ALTER TABLE [dbo].[OpcionMenu] DROP CONSTRAINT [PK__OpcionMe__8171736B32E0915F]
GO
/****** Object:  Table [dbo].[OpcionMenu]    Script Date: 27/01/2022 01:40:26 a. m. ******/
DROP TABLE [dbo].[OpcionMenu]
GO
/****** Object:  Table [dbo].[OpcionMenu]    Script Date: 27/01/2022 01:40:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OpcionMenu](
	[IdOpcionMenu] [int] IDENTITY(1,1) NOT NULL,
	[IdMenu] [int] NOT NULL,
	[Orden] [smallint] NULL,
	[Titulo] [varchar](255) NULL,
	[Ayuda] [char](18) NULL,
	[TipoComando] [varchar](10) NULL,
	[Comando] [varchar](255) NULL,
	[Caracteristicas] [varchar](255) NULL,
	[Parametros] [varchar](255) NULL,
	[IdPrivilegio] [int] NULL,
	[Color] [varchar](40) NULL,
	[Imagen] [varchar](40) NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[OpcionMenu] ON 

INSERT [dbo].[OpcionMenu] ([IdOpcionMenu], [IdMenu], [Orden], [Titulo], [Ayuda], [TipoComando], [Comando], [Caracteristicas], [Parametros], [IdPrivilegio], [Color], [Imagen], [Activo]) VALUES (8133, 5027, 1, N'Socio', NULL, N'URL', N'', NULL, N'', 73, N'', N'', 1)
INSERT [dbo].[OpcionMenu] ([IdOpcionMenu], [IdMenu], [Orden], [Titulo], [Ayuda], [TipoComando], [Comando], [Caracteristicas], [Parametros], [IdPrivilegio], [Color], [Imagen], [Activo]) VALUES (6, 12, 1, N'Grupo', N'                  ', N'URL', N'~/Seguridad/AdministracionGrupo.aspx', N'Imagen= icon-group  ;Color=colorVerde', N'', 6, N'colorAzulLightSteelBlue', N' icon-group ', 1)
INSERT [dbo].[OpcionMenu] ([IdOpcionMenu], [IdMenu], [Orden], [Titulo], [Ayuda], [TipoComando], [Comando], [Caracteristicas], [Parametros], [IdPrivilegio], [Color], [Imagen], [Activo]) VALUES (7, 12, 2, N'Perfil', N'                  ', N'URL', N'~/Seguridad/AdministracionPerfil.aspx', N'Imagen= icon-users ;Color=colorRojo', N'', 7, N'colorAzulSkyBlue', N' icon-user-3', 1)
GO
SET IDENTITY_INSERT [dbo].[OpcionMenu] OFF
/****** Object:  Index [PK__OpcionMe__8171736B32E0915F]    Script Date: 27/01/2022 01:40:28 a. m. ******/
ALTER TABLE [dbo].[OpcionMenu] ADD  CONSTRAINT [PK__OpcionMe__8171736B32E0915F] PRIMARY KEY NONCLUSTERED 
(
	[IdOpcionMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpcionMenu]  WITH CHECK ADD  CONSTRAINT [FK_OpcionMenu_Menu] FOREIGN KEY([IdMenu])
REFERENCES [dbo].[Menu] ([IdMenu])
GO
ALTER TABLE [dbo].[OpcionMenu] CHECK CONSTRAINT [FK_OpcionMenu_Menu]
GO
