
ALTER TABLE [dbo].[PropiedadControl] DROP CONSTRAINT [FK_PropiedadControl_TipoValidacion]
GO
ALTER TABLE [dbo].[PropiedadControl] DROP CONSTRAINT [FK_PropiedadControl_TipoControl]
GO
/****** Object:  Table [dbo].[PropiedadControl]    Script Date: 27/01/2022 01:40:26 a. m. ******/
DROP TABLE [dbo].[PropiedadControl]
GO
/****** Object:  Table [dbo].[PropiedadControl]    Script Date: 27/01/2022 01:40:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropiedadControl](
	[IdPropiedadControl] [int] IDENTITY(1,1) NOT NULL,
	[IdContenedor] [int] NULL,
	[Orden] [int] NULL,
	[Id] [nvarchar](150) NULL,
	[IdTipoControl] [int] NULL,
	[Titulo] [nvarchar](150) NULL,
	[Valor] [nvarchar](max) NULL,
	[Alto] [nvarchar](10) NULL,
	[Ancho] [nvarchar](10) NULL,
	[Superior] [nvarchar](10) NULL,
	[Izquierda] [nvarchar](10) NULL,
	[CssClass] [nvarchar](30) NULL,
	[Visible] [bit] NULL,
	[Habilitado] [bit] NULL,
	[Argumentos] [nvarchar](max) NULL,
	[IdTipoValidacion] [int] NOT NULL,
	[Activo] [bit] NULL,
	[MarcaAgua] [bit] NULL,
	[IdPropiedadTextoLista] [nvarchar](150) NULL,
 CONSTRAINT [PK_PropiedadControl] PRIMARY KEY CLUSTERED 
(
	[IdPropiedadControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[PropiedadControl] ON 

INSERT [dbo].[PropiedadControl] ([IdPropiedadControl], [IdContenedor], [Orden], [Id], [IdTipoControl], [Titulo], [Valor], [Alto], [Ancho], [Superior], [Izquierda], [CssClass], [Visible], [Habilitado], [Argumentos], [IdTipoValidacion], [Activo], [MarcaAgua], [IdPropiedadTextoLista]) VALUES (1, 2, 1, N'dinamico', 2, N'caja de texto dinamica', N'valor', N'', N'', N'', N'', N'', 1, 1, N'Idcatalogo=25;layout=table;direccion=horizontal;postback=SI', 1, 1, NULL, NULL)
INSERT [dbo].[PropiedadControl] ([IdPropiedadControl], [IdContenedor], [Orden], [Id], [IdTipoControl], [Titulo], [Valor], [Alto], [Ancho], [Superior], [Izquierda], [CssClass], [Visible], [Habilitado], [Argumentos], [IdTipoValidacion], [Activo], [MarcaAgua], [IdPropiedadTextoLista]) VALUES (2, 2, 1, N'nombre', 2, N'nombre', N'valor', N'', N'', N'', N'', N'', 1, 1, N'', 2, 1, NULL, NULL)
INSERT [dbo].[PropiedadControl] ([IdPropiedadControl], [IdContenedor], [Orden], [Id], [IdTipoControl], [Titulo], [Valor], [Alto], [Ancho], [Superior], [Izquierda], [CssClass], [Visible], [Habilitado], [Argumentos], [IdTipoValidacion], [Activo], [MarcaAgua], [IdPropiedadTextoLista]) VALUES (4, 2, 4, N'lista fga', 5, N'lista ', N'VerdeNegro', N'', N'', N'', N'', N'', 1, 1, N'tipolista=TipoControl;Idcatalogo=27;layout=table;direccion=horizontal;postback=SI', 3, 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PropiedadControl] OFF
ALTER TABLE [dbo].[PropiedadControl]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadControl_TipoControl] FOREIGN KEY([IdTipoControl])
REFERENCES [dbo].[TipoControl] ([IdTipoControl])
GO
ALTER TABLE [dbo].[PropiedadControl] CHECK CONSTRAINT [FK_PropiedadControl_TipoControl]
GO
ALTER TABLE [dbo].[PropiedadControl]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadControl_TipoValidacion] FOREIGN KEY([IdTipoValidacion])
REFERENCES [dbo].[TipoValidacion] ([IdTipoValidacion])
GO
ALTER TABLE [dbo].[PropiedadControl] CHECK CONSTRAINT [FK_PropiedadControl_TipoValidacion]
GO
