
ALTER TABLE [dbo].[PropiedadControlIdioma] DROP CONSTRAINT [FK_PropiedadControlIdioma_PropiedadControl]
GO
/****** Object:  Table [dbo].[PropiedadControlIdioma]    Script Date: 09/02/2022 12:23:34 a. m. ******/
DROP TABLE [dbo].[PropiedadControlIdioma]
GO
/****** Object:  Table [dbo].[PropiedadControlIdioma]    Script Date: 09/02/2022 12:23:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropiedadControlIdioma](
	[IdPropiedadControl] [int] NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[Titulo] [nvarchar](250) NULL,
	[MensajeAyuda] [nvarchar](max) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_PropiedadControlIdioma] PRIMARY KEY CLUSTERED 
(
	[IdPropiedadControl] ASC,
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[PropiedadControlIdioma] ([IdPropiedadControl], [IdIdioma], [Titulo], [MensajeAyuda], [Activo]) VALUES (1, 1, N'caja de texto dinamica', N'capture dato dinamico', 1)
INSERT [dbo].[PropiedadControlIdioma] ([IdPropiedadControl], [IdIdioma], [Titulo], [MensajeAyuda], [Activo]) VALUES (2, 1, N'caja de texto nombre', N'capture  nombre', 1)
INSERT [dbo].[PropiedadControlIdioma] ([IdPropiedadControl], [IdIdioma], [Titulo], [MensajeAyuda], [Activo]) VALUES (4, 1, N'lista ', N'capture  lista', 1)
GO
ALTER TABLE [dbo].[PropiedadControlIdioma]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadControlIdioma_PropiedadControl] FOREIGN KEY([IdPropiedadControl])
REFERENCES [dbo].[PropiedadControl] ([IdPropiedadControl])
GO
ALTER TABLE [dbo].[PropiedadControlIdioma] CHECK CONSTRAINT [FK_PropiedadControlIdioma_PropiedadControl]
GO
