
/****** Object:  Table [dbo].[PlaneacionCaptura]    Script Date: 27/01/2022 01:40:26 a. m. ******/
DROP TABLE [dbo].[PlaneacionCaptura]
GO
/****** Object:  Table [dbo].[PlaneacionCaptura]    Script Date: 27/01/2022 01:40:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PlaneacionCaptura](
	[IdPlaneacionCaptura] [int] IDENTITY(1,1) NOT NULL,
	[IdAplicacion] [int] NOT NULL,
	[IdSuscriptor] [int] NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[TipoCaptura] [varchar](3) NULL,
	[TipoEvento] [varchar](3) NULL,
	[TipoPeriodo] [varchar](30) NULL,
	[Periodicidad] [varchar](30) NULL,
	[FechaRegistro] [date] NULL,
	[FechaInicial] [date] NULL,
	[FechaFinal] [date] NULL,
	[HoraInicial] [time](7) NULL,
	[HoraFinal] [time](7) NULL,
	[IdEstatus] [smallint] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_PlaneacionCaptura] PRIMARY KEY CLUSTERED 
(
	[IdPlaneacionCaptura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PlaneacionCaptura] ON 

INSERT [dbo].[PlaneacionCaptura] ([IdPlaneacionCaptura], [IdAplicacion], [IdSuscriptor], [Descripcion], [TipoCaptura], [TipoEvento], [TipoPeriodo], [Periodicidad], [FechaRegistro], [FechaInicial], [FechaFinal], [HoraInicial], [HoraFinal], [IdEstatus], [Activo]) VALUES (1, 1020, 1, N'Acceso', N'CAP', N'SIE', N'Anual', N'Anual', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PlaneacionCaptura] ([IdPlaneacionCaptura], [IdAplicacion], [IdSuscriptor], [Descripcion], [TipoCaptura], [TipoEvento], [TipoPeriodo], [Periodicidad], [FechaRegistro], [FechaInicial], [FechaFinal], [HoraInicial], [HoraFinal], [IdEstatus], [Activo]) VALUES (2, 6052, 1, N'Encuesta Presidente ', N'ENC', N'UNA', N'Anual', N'', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PlaneacionCaptura] ([IdPlaneacionCaptura], [IdAplicacion], [IdSuscriptor], [Descripcion], [TipoCaptura], [TipoEvento], [TipoPeriodo], [Periodicidad], [FechaRegistro], [FechaInicial], [FechaFinal], [HoraInicial], [HoraFinal], [IdEstatus], [Activo]) VALUES (3, 5049, 1, N'Evaluación Candidato', N'EVA', N'PER', N'Mensual', N'9', NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[PlaneacionCaptura] OFF
