
/****** Object:  Index [PK_OpcionMenuIdioma]    Script Date: 27/01/2022 01:40:26 a. m. ******/
ALTER TABLE [dbo].[OpcionMenuIdioma] DROP CONSTRAINT [PK_OpcionMenuIdioma]
GO
/****** Object:  Table [dbo].[OpcionMenuIdioma]    Script Date: 27/01/2022 01:40:26 a. m. ******/
DROP TABLE [dbo].[OpcionMenuIdioma]
GO
/****** Object:  Table [dbo].[OpcionMenuIdioma]    Script Date: 27/01/2022 01:40:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OpcionMenuIdioma](
	[IdOpcionMenu] [int] NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[Titulo] [varchar](255) NULL,
	[Ayuda] [char](18) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[OpcionMenuIdioma] ([IdOpcionMenu], [IdIdioma], [Titulo], [Ayuda]) VALUES (68, 2, N'Entry', N'                  ')
INSERT [dbo].[OpcionMenuIdioma] ([IdOpcionMenu], [IdIdioma], [Titulo], [Ayuda]) VALUES (70, 2, N'Recovery password', N'                  ')
INSERT [dbo].[OpcionMenuIdioma] ([IdOpcionMenu], [IdIdioma], [Titulo], [Ayuda]) VALUES (69, 2, N'Chamge  password', N'                  ')
GO
/****** Object:  Index [PK_OpcionMenuIdioma]    Script Date: 27/01/2022 01:40:28 a. m. ******/
ALTER TABLE [dbo].[OpcionMenuIdioma] ADD  CONSTRAINT [PK_OpcionMenuIdioma] PRIMARY KEY NONCLUSTERED 
(
	[IdOpcionMenu] ASC,
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
