
/****** Object:  Table [dbo].[Captura]    Script Date: 27/01/2022 01:40:26 a. m. ******/
DROP TABLE [dbo].[Captura]
GO
/****** Object:  Table [dbo].[Captura]    Script Date: 27/01/2022 01:40:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Captura](
	[IdCaptura] [int] IDENTITY(1,1) NOT NULL,
	[IdPlaneacionCaptura] [int] NULL,
	[IdAplicacion] [int] NULL,
	[IdClasificacionCaptura] [int] NULL,
	[IdUnico] [varchar](50) NOT NULL,
	[IdExpediente] [int] NOT NULL,
	[Nombre] [varchar](250) NULL,
	[Descripcion] [varchar](250) NULL,
	[Identificador] [varchar](50) NULL,
	[Folio] [int] NULL,
	[CodigoBarras] [varchar](100) NULL,
	[CodigoAlterno] [varchar](150) NULL,
	[Referencia] [varchar](150) NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaActuaizacion] [datetime] NULL,
	[IdEstausCaptura] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdSuscriptor] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Captura] PRIMARY KEY CLUSTERED 
(
	[IdCaptura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Captura] ON 

INSERT [dbo].[Captura] ([IdCaptura], [IdPlaneacionCaptura], [IdAplicacion], [IdClasificacionCaptura], [IdUnico], [IdExpediente], [Nombre], [Descripcion], [Identificador], [Folio], [CodigoBarras], [CodigoAlterno], [Referencia], [FechaRegistro], [FechaActuaizacion], [IdEstausCaptura], [IdUsuario], [IdSuscriptor], [Activo]) VALUES (3008, 2016, 1021, 1, N'', 0, N'franciso 2', NULL, N'0003', NULL, NULL, NULL, NULL, CAST(0x0000A94C01876485 AS DateTime), CAST(0x0000A966017F05CD AS DateTime), 1, 2, 1, 1)
INSERT [dbo].[Captura] ([IdCaptura], [IdPlaneacionCaptura], [IdAplicacion], [IdClasificacionCaptura], [IdUnico], [IdExpediente], [Nombre], [Descripcion], [Identificador], [Folio], [CodigoBarras], [CodigoAlterno], [Referencia], [FechaRegistro], [FechaActuaizacion], [IdEstausCaptura], [IdUsuario], [IdSuscriptor], [Activo]) VALUES (3009, 2016, 1021, 1, N'', 0, N'X', NULL, N'0002', NULL, NULL, NULL, NULL, CAST(0x0000A94D00086842 AS DateTime), CAST(0x0000A9590178E174 AS DateTime), 1, 2, 1, 1)
INSERT [dbo].[Captura] ([IdCaptura], [IdPlaneacionCaptura], [IdAplicacion], [IdClasificacionCaptura], [IdUnico], [IdExpediente], [Nombre], [Descripcion], [Identificador], [Folio], [CodigoBarras], [CodigoAlterno], [Referencia], [FechaRegistro], [FechaActuaizacion], [IdEstausCaptura], [IdUsuario], [IdSuscriptor], [Activo]) VALUES (3010, 2016, 1021, 1, N'', 0, N'franciso 2', NULL, N'0004', NULL, NULL, NULL, NULL, CAST(0x0000A94D017342EF AS DateTime), CAST(0x0000A9F90156D520 AS DateTime), 1, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Captura] OFF
