
/****** Object:  Table [dbo].[Aplicacion]    Script Date: 27/01/2022 01:40:26 a. m. ******/
DROP TABLE [dbo].[Aplicacion]
GO
/****** Object:  Table [dbo].[Aplicacion]    Script Date: 27/01/2022 01:40:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Aplicacion](
	[IdAplicacion] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [varchar](30) NULL,
	[IdSistema] [int] NULL,
	[IdModuloSistema] [int] NULL,
	[Nombre] [nvarchar](250) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Tipo] [varchar](10) NULL,
	[FechaCreacion] [datetime] NULL,
	[IdAutorCreacion] [nvarchar](100) NULL,
	[FechaActualizacion] [datetime] NULL,
	[IdAutorActualizacion] [nvarchar](100) NULL,
	[Capa] [varchar](30) NULL,
	[Clase] [varchar](150) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Aplicacion] PRIMARY KEY CLUSTERED 
(
	[IdAplicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Aplicacion] ON 

INSERT [dbo].[Aplicacion] ([IdAplicacion], [Clave], [IdSistema], [IdModuloSistema], [Nombre], [Descripcion], [Tipo], [FechaCreacion], [IdAutorCreacion], [FechaActualizacion], [IdAutorActualizacion], [Capa], [Clase], [Activo]) VALUES (1, N'MenuSitio', 1, 1, N'Menús  de Sitio', N'Menús  de Sitio', N'SITIO', CAST(0x0000A62D0182CD5F AS DateTime), N'0', CAST(0x0000A62D0182CD5F AS DateTime), N'0', NULL, NULL, 1)
INSERT [dbo].[Aplicacion] ([IdAplicacion], [Clave], [IdSistema], [IdModuloSistema], [Nombre], [Descripcion], [Tipo], [FechaCreacion], [IdAutorCreacion], [FechaActualizacion], [IdAutorActualizacion], [Capa], [Clase], [Activo]) VALUES (3, N'', 1, 2, N'MeNet.Nucleo.AdministradorCatalogos.dll', N'Administrador Catálogos', N'COMPONENTE', NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Aplicacion] ([IdAplicacion], [Clave], [IdSistema], [IdModuloSistema], [Nombre], [Descripcion], [Tipo], [FechaCreacion], [IdAutorCreacion], [FechaActualizacion], [IdAutorActualizacion], [Capa], [Clase], [Activo]) VALUES (4, N'', 1, 2, N'MeNet.Nucelo.AdministradorSesion.dll', N'Administrador de Sesión', N'COMPONENTE', NULL, NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Aplicacion] OFF
