
ALTER TABLE [dbo].[ElementoCatalogoIdioma] DROP CONSTRAINT [FK_ElementoCatalogo_CatalogoIdioma]
GO
/****** Object:  Table [dbo].[ElementoCatalogoIdioma]    Script Date: 27/01/2022 01:40:26 a. m. ******/
DROP TABLE [dbo].[ElementoCatalogoIdioma]
GO
/****** Object:  Table [dbo].[ElementoCatalogoIdioma]    Script Date: 27/01/2022 01:40:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementoCatalogoIdioma](
	[IdElemento] [int] NOT NULL,
	[Titulo] [nvarchar](250) NULL,
	[IdIdioma] [int] NOT NULL,
 CONSTRAINT [PK_ElementoCatalogoIdioma] PRIMARY KEY CLUSTERED 
(
	[IdElemento] ASC,
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ElementoCatalogoIdioma] ([IdElemento], [Titulo], [IdIdioma]) VALUES (1, N'Correo', 1)
INSERT [dbo].[ElementoCatalogoIdioma] ([IdElemento], [Titulo], [IdIdioma]) VALUES (1, N'Correo', 2)
INSERT [dbo].[ElementoCatalogoIdioma] ([IdElemento], [Titulo], [IdIdioma]) VALUES (2, N'RFC', 1)
GO
ALTER TABLE [dbo].[ElementoCatalogoIdioma]  WITH CHECK ADD  CONSTRAINT [FK_ElementoCatalogo_CatalogoIdioma] FOREIGN KEY([IdElemento])
REFERENCES [dbo].[ElementoCatalogo] ([IdElemento])
GO
ALTER TABLE [dbo].[ElementoCatalogoIdioma] CHECK CONSTRAINT [FK_ElementoCatalogo_CatalogoIdioma]
GO
