
ALTER TABLE [dbo].[ElementoCatalogo] DROP CONSTRAINT [FK_ElementoCatalogo_Catalogo]
GO
/****** Object:  Table [dbo].[ElementoCatalogo]    Script Date: 27/01/2022 01:40:26 a. m. ******/
DROP TABLE [dbo].[ElementoCatalogo]
GO
/****** Object:  Table [dbo].[ElementoCatalogo]    Script Date: 27/01/2022 01:40:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementoCatalogo](
	[IdElemento] [int] IDENTITY(1,1) NOT NULL,
	[Orden] [smallint] NOT NULL,
	[IdCatalogo] [int] NOT NULL,
	[Id] [nvarchar](50) NULL,
	[Valor] [nvarchar](250) NULL,
	[Activo] [bit] NULL,
	[IdIdioma] [int] NULL,
 CONSTRAINT [PK_ElementoCatalogo] PRIMARY KEY CLUSTERED 
(
	[IdElemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ElementoCatalogo] ON 

INSERT [dbo].[ElementoCatalogo] ([IdElemento], [Orden], [IdCatalogo], [Id], [Valor], [Activo], [IdIdioma]) VALUES (1, 1, 3, N'1', N'Correo', 1, 1)
INSERT [dbo].[ElementoCatalogo] ([IdElemento], [Orden], [IdCatalogo], [Id], [Valor], [Activo], [IdIdioma]) VALUES (2, 2, 3, N'2', N'RFC', 1, 1)
INSERT [dbo].[ElementoCatalogo] ([IdElemento], [Orden], [IdCatalogo], [Id], [Valor], [Activo], [IdIdioma]) VALUES (4, 3, 3, N'3', N'CURP', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[ElementoCatalogo] OFF
ALTER TABLE [dbo].[ElementoCatalogo]  WITH CHECK ADD  CONSTRAINT [FK_ElementoCatalogo_Catalogo] FOREIGN KEY([IdCatalogo])
REFERENCES [dbo].[Catalogo] ([IdCatalogo])
GO
ALTER TABLE [dbo].[ElementoCatalogo] CHECK CONSTRAINT [FK_ElementoCatalogo_Catalogo]
GO
