
/****** Object:  Table [dbo].[Aplicacion]    Script Date: 08/01/2022 09:10:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
DROP TABLE Aplicacion

GO
CREATE TABLE [dbo].[Aplicacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](30) NULL,
	[llave] [nvarchar](max) NULL,
	[idSistema] [int] NULL,
	[idModuloSistema] [int] NULL,
	[nombre] [nvarchar](250) NULL,
	[descripcion] [nvarchar](max) NULL,
	[tipo] [varchar](10) NULL,
	[fechaCreacion] [datetime] NULL,
	[idAutorCreacion] [nvarchar](100) NULL,
	[fechaActualizacion] [datetime] NULL,
	[idAutorActualizacion] [nvarchar](100) NULL,
	[capa] [varchar](30) NULL,
	[clase] [varchar](150) NULL,
    [fechaEstatus] [datetime] NULL,
    [estatus] [smallint] NULL,
 CONSTRAINT [PK_Aplicacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Aplicacion] ON 

INSERT [dbo].[Aplicacion] ([Id], [Clave], [IdSistema], [IdModuloSistema], [Nombre], [Descripcion], [Tipo], [FechaCreacion], [IdAutorCreacion], [FechaActualizacion], [IdAutorActualizacion], [Capa], [Clase], [Estatus]) VALUES (1, N'MenuSitio', 1, 1, N'Menús  de Sitio', N'Menús  de Sitio', N'SITIO', CAST(0x0000A62D0182CD5F AS DateTime), N'0', CAST(0x0000A62D0182CD5F AS DateTime), N'0', NULL, NULL, 1)
INSERT [dbo].[Aplicacion] ([Id], [Clave], [IdSistema], [IdModuloSistema], [Nombre], [Descripcion], [Tipo], [FechaCreacion], [IdAutorCreacion], [FechaActualizacion], [IdAutorActualizacion], [Capa], [Clase], [Estatus]) VALUES (3, N'', 1, 2, N'MeNet.Nucleo.AdministradorCatalogos.dll', N'Administrador Catálogos', N'COMPONENTE', NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Aplicacion] ([Id], [Clave], [IdSistema], [IdModuloSistema], [Nombre], [Descripcion], [Tipo], [FechaCreacion], [IdAutorCreacion], [FechaActualizacion], [IdAutorActualizacion], [Capa], [Clase], [Estatus]) VALUES (4, N'', 1, 2, N'MeNet.Nucelo.AdministradorSesion.dll', N'Administrador de Sesión', N'COMPONENTE', NULL, NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Aplicacion] OFF
