USE [DB_A72B95_drp]
GO
/****** Object:  Table [dbo].[CuentaUsuario]    Script Date: 14/01/2022 08:26:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
DROP TABLE [dbo].[CuentaUsuario]
go
CREATE TABLE [dbo].[CuentaUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[llave] [varchar](max) NULL,
	[clave] [varchar](max) NULL,
	[nombre] [varchar](max) NULL,
	[fecha] [varchar](10) NULL,
	[cuenta] [varchar](100) NULL,
	[contrasena] [varchar](50) NULL,
	[perfiles] [nvarchar](max) NULL,
	[grupos] [nvarchar](max) NULL,
	[privilegios] [nvarchar](max) NULL,
	[idEstacionTrabajo] [varchar](50) NULL,
	[tema] [varchar](30) NULL,
	[idIdioma] [int] NULL,
	[sesiones] [int] NULL,
	[intentos] [int] NULL,
	[expira] [smallint] NULL,
	[fechaVigencia] [varchar](10) NULL,
	[idCuentaUsuarioSuperior] [int] NULL,
	[idSocio] [int] NULL,
	[fechaEstatus] [varchar](10) NULL,
	[estatus] [smallint] NULL,
 CONSTRAINT [PK_CuentaUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CuentaUsuario] ON 

INSERT [dbo].[CuentaUsuario] ([id], [llave], [clave], [nombre], [fecha], [cuenta], [contrasena], [perfiles], [grupos], [privilegios], [idEstacionTrabajo], [tema], [idIdioma], [sesiones], [intentos], [expira], [fechaVigencia], [idCuentaUsuarioSuperior], [idSocio], [fechaEstatus], [estatus]) VALUES (1, N'', N'', N'Administrador', N'', N'admin', N'123', N'1', N'1', N'pril', N'et', N'azul', 1, 3, 0, 0, N'', 1, 1, N'', 1)
INSERT [dbo].[CuentaUsuario] ([id], [llave], [clave], [nombre], [fecha], [cuenta], [contrasena], [perfiles], [grupos], [privilegios], [idEstacionTrabajo], [tema], [idIdioma], [sesiones], [intentos], [expira], [fechaVigencia], [idCuentaUsuarioSuperior], [idSocio], [fechaEstatus], [estatus]) VALUES (3, N'', N'', N'Jorge Arturo Rizo Espinosa', N'12-22-2021', N'giorgio', N'123', N'1', N'2', N'0', N'', N'', 0, 0, 3, 0, NULL, NULL, 2, N'12-22-2021', 1)
INSERT [dbo].[CuentaUsuario] ([id], [llave], [clave], [nombre], [fecha], [cuenta], [contrasena], [perfiles], [grupos], [privilegios], [idEstacionTrabajo], [tema], [idIdioma], [sesiones], [intentos], [expira], [fechaVigencia], [idCuentaUsuarioSuperior], [idSocio], [fechaEstatus], [estatus]) VALUES (4, N'', N'', N'Cuauhtemoc Baez Main', N'06-21-2021', N'cuauhtemoc.baez', N'123', N'2', N'4', N'0', N'', N'', 0, 0, 3, 0, NULL, NULL, 4, N'06-21-2021', 1)
SET IDENTITY_INSERT [dbo].[CuentaUsuario] OFF


select *from CuentaUsuario