		

SELECT * FROM   Cliente


/****** Object:  Table [dbo].[Cliente]    Script Date: 09/03/2022 08:51:43 p. m. ******/
DROP TABLE [dbo].[Cliente]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 09/03/2022 08:51:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[llave] [varchar](max) NULL,
	[clave] [varchar](max) NULL,
	[nombre] [varchar](100) NULL,
	[descricpion] [varchar](max) NULL,
	[idTipoCliente] [varchar](1) NULL,
	[idEstado] [int] NULL,
	[idSuscriptor] [int] NULL,
	[idOperacion] [int] NULL,
	[idUsuario] [int] NULL,
	[apellidoPaterno] [varchar](100) NULL,
	[apellidoMaterno] [varchar](100) NULL,
	[rfc] [varchar](20) NULL,
	[curp] [varchar](30) NULL,
	[telefono] [varchar](10) NULL,
	[telefonoMovil] [varchar](10) NULL,
	[correo] [varchar](max) NULL,
	[genero] [varchar](1) NULL,
	[direccion] [varchar](max) NULL,
	[referencia] [nvarchar](50) NULL,
	[banco] [varchar](max) NULL,
	[cuentaBanco] [varchar](max) NULL,
	[importe] [int] NULL,
	[saldo] [int] NULL,
	[rutaFoto] [nvarchar](50) NULL,
	[urlFoto] [varchar](max) NULL,
	[fechaNacimiento] [varchar](10) NULL,
	[fecha] [varchar](10) NULL,
	[fechaEntrega] [varchar](10) NULL,
	[fechaRegistro] [varchar](10) NULL,
	[idSocio] [int] NULL,
	[observaciones] [varchar](max) NULL,
	[acciones] [varchar](max) NULL,
	[fechaEstatus] [varchar](10) NULL,
	[estatus] [smallint] NULL,
 CONSTRAINT [PK__Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
