USE [DB_A72B95_drp]
GO
/****** Object:  Index [PK_OpcionMenu]    Script Date: 26/05/2022 10:33:17 p. m. ******/
ALTER TABLE [dbo].[OpcionMenu] DROP CONSTRAINT [PK_OpcionMenu]
GO
/****** Object:  Table [dbo].[OpcionMenu]    Script Date: 26/05/2022 10:33:17 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OpcionMenu]') AND type in (N'U'))
DROP TABLE [dbo].[OpcionMenu]
GO
/****** Object:  Table [dbo].[OpcionMenu]    Script Date: 26/05/2022 10:33:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcionMenu](
	[IdOpcionMenu] [int] IDENTITY(1,1) NOT NULL,
	[IdMenu] [int] NOT NULL,
	[Orden] [smallint] NULL,
	[Titulo] [varchar](255) NULL,
	[Ayuda] [char](18) NULL,
	[TipoComando] [varchar](10) NULL,
	[Comando] [varchar](255) NULL,
	[Caracteristicas] [varchar](255) NULL,
	[Parametros] [varchar](255) NULL,
	[IdPrivilegio] [int] NULL,
	[Color] [varchar](40) NULL,
	[Imagen] [varchar](40) NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OpcionMenu] ON 

INSERT [dbo].[OpcionMenu] ([IdOpcionMenu], [IdMenu], [Orden], [Titulo], [Ayuda], [TipoComando], [Comando], [Caracteristicas], [Parametros], [IdPrivilegio], [Color], [Imagen], [Activo]) VALUES (8133, 5027, 1, N'Socio', NULL, N'URL', N'~/Seguridad/AdministracionUsuarios.aspx', NULL, N'', 27, N'colorAzulBlue', N'icon-users', 1)
INSERT [dbo].[OpcionMenu] ([IdOpcionMenu], [IdMenu], [Orden], [Titulo], [Ayuda], [TipoComando], [Comando], [Caracteristicas], [Parametros], [IdPrivilegio], [Color], [Imagen], [Activo]) VALUES (6, 12, 1, N'Grupo', N'                  ', N'URL', N'~/Seguridad/AdministracionGrupo.aspx', N'Imagen= icon-group  ;Color=colorVerde', N'', 6, N'colorAzulLightSteelBlue', N' icon-group ', 1)
INSERT [dbo].[OpcionMenu] ([IdOpcionMenu], [IdMenu], [Orden], [Titulo], [Ayuda], [TipoComando], [Comando], [Caracteristicas], [Parametros], [IdPrivilegio], [Color], [Imagen], [Activo]) VALUES (7, 12, 2, N'Perfil', N'                  ', N'URL', N'~/Seguridad/AdministracionPerfil.aspx', N'Imagen= icon-users ;Color=colorRojo', N'', 7, N'colorAzulSkyBlue', N' icon-user-3', 1)
GO
SET IDENTITY_INSERT [dbo].[OpcionMenu] OFF
GO
/****** Object:  Index [PK_OpcionMenu]    Script Date: 26/05/2022 10:33:18 p. m. ******/
ALTER TABLE [dbo].[OpcionMenu] ADD  CONSTRAINT [PK_OpcionMenu] PRIMARY KEY NONCLUSTERED 
(
	[IdOpcionMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
