USE [DB_A72B95_drp]
GO
/****** Object:  Table [dbo].[PrivilegioAsignado]    Script Date: 26/05/2022 10:33:17 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PrivilegioAsignado]') AND type in (N'U'))
DROP TABLE [dbo].[PrivilegioAsignado]
GO
/****** Object:  Table [dbo].[PrivilegioAsignado]    Script Date: 26/05/2022 10:33:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivilegioAsignado](
	[IdPrivilegiAsignado] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [varchar](50) NULL,
	[TipoElemento] [varchar](20) NULL,
	[IdElemento] [int] NOT NULL,
	[IdSuscriptor] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_PrivilegiAsignado] PRIMARY KEY CLUSTERED 
(
	[IdPrivilegiAsignado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PrivilegioAsignado] ON 

INSERT [dbo].[PrivilegioAsignado] ([IdPrivilegiAsignado], [Clave], [TipoElemento], [IdElemento], [IdSuscriptor], [Activo]) VALUES (1, N'6156', N'P', 4, 1, 1)
INSERT [dbo].[PrivilegioAsignado] ([IdPrivilegiAsignado], [Clave], [TipoElemento], [IdElemento], [IdSuscriptor], [Activo]) VALUES (2, N'6157', N'P', 1, 1, 1)
INSERT [dbo].[PrivilegioAsignado] ([IdPrivilegiAsignado], [Clave], [TipoElemento], [IdElemento], [IdSuscriptor], [Activo]) VALUES (3, N'6158', N'P', 4, 1, 1)
SET IDENTITY_INSERT [dbo].[PrivilegioAsignado] OFF
GO
