USE [DB_A72B95_drp]
GO
/****** Object:  Index [PK_OpcionMenuIdioma]    Script Date: 26/05/2022 10:33:17 p. m. ******/
ALTER TABLE [dbo].[OpcionMenuIdioma] DROP CONSTRAINT [PK_OpcionMenuIdioma]
GO
/****** Object:  Table [dbo].[OpcionMenuIdioma]    Script Date: 26/05/2022 10:33:17 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OpcionMenuIdioma]') AND type in (N'U'))
DROP TABLE [dbo].[OpcionMenuIdioma]
GO
/****** Object:  Table [dbo].[OpcionMenuIdioma]    Script Date: 26/05/2022 10:33:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcionMenuIdioma](
	[IdOpcionMenu] [int] NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[Titulo] [varchar](255) NULL,
	[Ayuda] [char](18) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[OpcionMenuIdioma] ([IdOpcionMenu], [IdIdioma], [Titulo], [Ayuda]) VALUES (8140, 1, N'Apertura/Cierre', NULL)
INSERT [dbo].[OpcionMenuIdioma] ([IdOpcionMenu], [IdIdioma], [Titulo], [Ayuda]) VALUES (8141, 1, N'Registrar Prospectos', NULL)
INSERT [dbo].[OpcionMenuIdioma] ([IdOpcionMenu], [IdIdioma], [Titulo], [Ayuda]) VALUES (8142, 1, N'Realizar Trámites', NULL)
GO
/****** Object:  Index [PK_OpcionMenuIdioma]    Script Date: 26/05/2022 10:33:18 p. m. ******/
ALTER TABLE [dbo].[OpcionMenuIdioma] ADD  CONSTRAINT [PK_OpcionMenuIdioma] PRIMARY KEY NONCLUSTERED 
(
	[IdOpcionMenu] ASC,
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
