
/****** Object:  Table [dbo].[FlujoTrabajoInstancia]    Script Date: 03/03/2022 11:23:57 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FlujoTrabajoInstancia]') AND type in (N'U'))
DROP TABLE [dbo].[FlujoTrabajoInstancia]
GO
/****** Object:  Table [dbo].[FlujoTrabajoInstancia]    Script Date: 03/03/2022 11:23:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlujoTrabajoInstancia](
	[IdInstancia] [int] IDENTITY(1,1) NOT NULL,
	[IdFlujoTrabajo] [int] NULL,
	[IdTarea] [int] NULL,
	[IdActividad] [int] NULL,
	[IdEstatus] [int] NULL,
	[FechaInicio] [smalldatetime] NULL,
	[FechaTernimacion] [smalldatetime] NULL,
	[Identificador] [nvarchar](150) NULL,
	[Nombre] [nvarchar](250) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Clasificacion] [nvarchar](max) NULL,
	[Importe] [decimal](16, 2) NULL,
	[Numero] [int] NULL,
	[Referencia] [nvarchar](150) NULL,
	[Variables] [nvarchar](max) NULL,
	[IdCliente] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdSuscriptor] [int] NULL,
	[IdPerfil] [nvarchar](100) NULL,
	[IdEquipo] [nvarchar](100) NULL,
	[IdEstatusTarea] [nvarchar](20) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_FlujoTrabajoInstancia] PRIMARY KEY CLUSTERED 
(
	[IdInstancia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FlujoTrabajoInstancia] ON 

INSERT [dbo].[FlujoTrabajoInstancia] ([IdInstancia], [IdFlujoTrabajo], [IdTarea], [IdActividad], [IdEstatus], [FechaInicio], [FechaTernimacion], [Identificador], [Nombre], [Descripcion], [Clasificacion], [Importe], [Numero], [Referencia], [Variables], [IdUsuario], [IdPerfil], [IdEquipo], [IdEstatusTarea], [Activo]) VALUES (1, 10, 16, 16, 37, CAST(N'2021-07-14T13:56:00' AS SmallDateTime), CAST(N'2021-08-20T16:26:00' AS SmallDateTime), N'39937738043', N'Monica Araceli Rios Piña', N'', N'', CAST(118791.00 AS Decimal(16, 2)), 1, N'4', N'@IdSocio:1010, @importe:118791.14', N'', N'', N'', N'3', 1)
INSERT [dbo].[FlujoTrabajoInstancia] ([IdInstancia], [IdFlujoTrabajo], [IdTarea], [IdActividad], [IdEstatus], [FechaInicio], [FechaTernimacion], [Identificador], [Nombre], [Descripcion], [Clasificacion], [Importe], [Numero], [Referencia], [Variables], [IdUsuario], [IdPerfil], [IdEquipo], [IdEstatusTarea], [Activo]) VALUES (2, 10, 21, 21, 46, CAST(N'2021-09-24T18:33:00' AS SmallDateTime), CAST(N'2021-09-24T18:33:00' AS SmallDateTime), N'30988020381', N'David González Aguilar', N'', N'', CAST(477000.00 AS Decimal(16, 2)), 2, N'GOAD800922UK9', N'IdSocio:4,IdGrupo:4', N'', N'', N'', N'3', 1)
INSERT [dbo].[FlujoTrabajoInstancia] ([IdInstancia], [IdFlujoTrabajo], [IdTarea], [IdActividad], [IdEstatus], [FechaInicio], [FechaTernimacion], [Identificador], [Nombre], [Descripcion], [Clasificacion], [Importe], [Numero], [Referencia], [Variables], [IdUsuario], [IdPerfil], [IdEquipo], [IdEstatusTarea], [Activo]) VALUES (3, 10, 19, 19, 43, CAST(N'2021-07-22T09:17:00' AS SmallDateTime), CAST(N'2021-08-17T15:59:00' AS SmallDateTime), N'11018337607', N'Nelly Jair Marino Pacheco', N'', N'', CAST(429332.00 AS Decimal(16, 2)), 3, N'', N'IdSocio:4,IdGrupo:4', N'', N'', N'', N'3', 1)
SET IDENTITY_INSERT [dbo].[FlujoTrabajoInstancia] OFF
GO
