USE [DB_A72B95_drp]
GO
/****** Object:  Table [dbo].[Socio]    Script Date: 14/01/2022 07:45:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO

DROP TABLE Socio
GO
CREATE TABLE [dbo].[Socio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[llave] [varchar](max) NULL,
	[clave] [varchar](max) NULL,
	[nombre] [varchar](max) NULL,
	[fecha] [varchar](max) NULL,
	[tipo] [varchar](max) NULL,
	[idNivelRed] [int] NULL,
	[usuarios] [int] NULL,
	[equipos] [int] NULL,
	[negocios] [int] NULL,
	[costo] [int] NULL,
	[fechaInicio] [varchar](10) NULL,
	[fechaVencimiento] [varchar](10) NULL,
	[Informacion] [varchar](max) NULL,
	[IdSocioSuperior] [int] NULL,
	[fechaEstatus] [varchar](10) NULL,
	[estatus] [smallint] NULL,
 CONSTRAINT [PK_Socio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Socio] ON 

INSERT [dbo].[Socio] ([id], [llave], [clave], [nombre], [fecha], [tipo], [idNivelRed], [usuarios], [equipos], [negocios], [costo], [fechaInicio], [fechaVencimiento], [Informacion], [IdSocioSuperior], [fechaEstatus], [estatus]) VALUES (1, N'FGA', N'', N'Administrador', N'06-21-2021', N'Kungio', NULL, 0, 0, 0, 0, N'', NULL, NULL, 0, N'06-21-2021', 1)
INSERT [dbo].[Socio] ([id], [llave], [clave], [nombre], [fecha], [tipo], [idNivelRed], [usuarios], [equipos], [negocios], [costo], [fechaInicio], [fechaVencimiento], [Informacion], [IdSocioSuperior], [fechaEstatus], [estatus]) VALUES (2, N'', N'giorgio', N'Jorge Arturo Rizo Espinosa', N'06-21-2021', N'Kungio', NULL, 1, 1, 1, 0, N'', N'', NULL, 1, N'06-21-2021', 1)
INSERT [dbo].[Socio] ([id], [llave], [clave], [nombre], [fecha], [tipo], [idNivelRed], [usuarios], [equipos], [negocios], [costo], [fechaInicio], [fechaVencimiento], [Informacion], [IdSocioSuperior], [fechaEstatus], [estatus]) VALUES (4, N'', N'Cuauhtemoc.Baez', N'Cuauhtemoc Baez Main', N'07-14-2021', N'Gold', NULL, 1, 1, 1, 0, N'12-22-2021', N'12-22-2022', NULL, 2, N'12-22-2021', 1)
SET IDENTITY_INSERT [dbo].[Socio] OFF


SELECT * FROM Socio