USE [DB_A72B95_drp]
GO
/****** Object:  Table [dbo].[m_USUARIO]    Script Date: 15/01/2022 10:20:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[m_USUARIO](
	[id] [int] NOT NULL,
	[nombre] [varchar](max) NULL,
	[cuenta] [varchar](100) NULL,
	[contrasena] [varchar](50) NULL,
	[perfiles] [nvarchar](max) NULL,
	[grupos] [nvarchar](max) NULL,
	[tipo] [varchar](max) NULL,
	[idUsuarioSuperior] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[m_USUARIO] ([id], [nombre], [cuenta], [contrasena], [perfiles], [grupos], [tipo], [idUsuarioSuperior]) VALUES (1, N'Administrador', N'admin', N'123', N'1', N'1', N'Kungio', 0)
INSERT [dbo].[m_USUARIO] ([id], [nombre], [cuenta], [contrasena], [perfiles], [grupos], [tipo], [idUsuarioSuperior]) VALUES (2, N'Jorge Arturo Rizo Espinosa', N'giorgio', N'123', N'1', N'2', N'Kungio', 1)
INSERT [dbo].[m_USUARIO] ([id], [nombre], [cuenta], [contrasena], [perfiles], [grupos], [tipo], [idUsuarioSuperior]) VALUES (4, N'Cuauhtemoc Baez Main', N'cuauhtemoc.baez', N'123', N'2', N'4', N'Gold', 2)

--------COPIAR
   SELECT S.id,S.nombre,[cuenta],[contrasena] ,[perfiles] ,[grupos], s.tipo,S.idSuscriptor AS idUsuarioSuperior
   into m_USUARIO
   FROM [DB_A72B95_drp].[dbo].[Usuario] U
   INNER  JOIN SUSCRIPCION  S ON S.id=U.idSuscriptor

   ----------
delete  FROM  m_USUARIO where  id=1
SELECT * FROM  m_USUARIO


/****** Script for SelectTopNRows command from SSMS  ******/
	SELECT TOP 1000 [IdUsuario]
		  ,[Cuenta]
		  ,[Contrasena]
		  ,[IdEstacionTrabajo]
		  ,[IdUsuarioSuperior]
		  ,[FechaRegistro]
		  ,[FechaVigencia]
		  ,[FechaCambioEstatus]
		  ,[Tema]
		  ,[IdEstatusUsuario]
		  ,[Activo]
		  ,[IdSuscriptor]
		  ,[Sesiones]
		  ,[Intentos]
		  ,[IdIdioma]
		  ,[Perfiles]
		  ,[Grupos]
		  ,[Expira]
		  ,[Privilegios]
	  FROM [DRP].[dbo].[CuentaUsuario]

  ---inserar usuarios

  delete FROM [DRP].[dbo].[CuentaUsuario] where IdUsuario>1

  SET IDENTITY_INSERT [dbo].[CuentaUsuario] ON 

INSERT [dbo].[CuentaUsuario] (  [IdUsuario] ,[Cuenta] ,[Contrasena] ,[Perfiles] ,[Grupos],[IdUsuarioSuperior],[IdSuscriptor],[Tema],[Activo]  )
SELECT Id,[Cuenta] ,[Contrasena] ,'4' ,[Grupos],[IdUsuarioSuperior],2,'AzulColoresPasteles',1
FROM m_USUARIO 

SET IDENTITY_INSERT [dbo].[CuentaUsuario] OFF

  ---inserar Personas

SELECT TOP 1000 [IdPersona]
      ,[IdTipoPersona]
      ,[RFC]
      ,[FechaNacimiento]
      ,[Curp]
      ,[Nombre]
      ,[ApellidoPaterno]
      ,[ApellidoMaterno]
      ,[Genero]
      ,[Correo]
      ,[Telefono]
      ,[TelefonoMovil]
      ,[Saldo]
      ,[IdSuscriptor]
      ,[IdUsuario]
      ,[Activo]
  FROM [DRP].[dbo].[Persona]

    delete FROM [DRP].[dbo].[Persona] where [IdPersona]>0

  SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] (  [IdPersona] ,[Nombre] ,[IdUsuario] ,[IdTipoPersona], [IdSuscriptor],[Activo]  )
SELECT Id,Nombre,Id ,substring(tipo,1,1),2,1
FROM m_USUARIO 

SET IDENTITY_INSERT [dbo].[Persona] OFF

select   [IdPersona],U.IdUsuario,U.IdUsuarioSuperior , [Cuenta]   ,[Nombre] ,[IdTipoPersona] FROM [CuentaUsuario] U
   INNER  JOIN [Persona] P ON P.[IdUsuario]=U.[IdUsuario]

   ---- CONSULTAS 

   SELECT TOP (1000) [IdUsuario]
      --,[Cuenta]
      --,[Contrasena]
      --,[IdEstacionTrabajo]
      --,[IdUsuarioSuperior]
      --,[FechaRegistro]
      --,[FechaVigencia]
      --,[FechaCambioEstatus]
      --,[Tema]
      --,[IdEstatusUsuario]
      --,[Activo]
      --,[IdSuscriptor]
      --,[Sesiones]
      --,[Intentos]
      --,[IdIdioma]
      --,[Perfiles]
      --,[Grupos]
      --,[Expira]
      --,[Privilegios]
	 , *
  FROM [CuentaUsuario]   U LEFT  JOIN  Grupo  G  WITH (NOLOCK) ON G.IdGrupo=U.grupos	
 --- WHERE  CUENTA='ismael.jaramillo'
  ORDER BY  1

  select   [IdPersona],U.IdUsuario,U.IdUsuarioSuperior , [Cuenta]   ,[Nombre] ,[IdTipoPersona] FROM [CuentaUsuario] U
   INNER  JOIN [Persona] P ON P.[IdUsuario]=U.[IdUsuario]
   ORDER BY  2

  	 SELECT S.ID,s.idSuscriptor  AS SUP, S.TIPO, * FROM USUARIO U  INNER JOIN Suscripcion_app  S  ON  S.ID= U.idSuscriptor    
	--- WHERE  CUENTA='ismael.jaramillo'
	 ORDER  BY 1
	 
  SELECT  * FROM USUARIO
  SELECT  * FROM Suscripcion
  SELECT  * FROM Suscripcion_app

  SELECT  * FROM Persona
  SELECT  * FROM Persona_APP


   SELECT  * FROM Cliente   where  idSocio=1

    SELECT  * FROM CuentaUsuario  where  IdUsuario=1041
   SELECT  * FROM Persona  where IdPersona=1041 

 UPDATE Persona
 SET IdUsuario=1041
 where IdPersona=1041 
      UPDATE   Cliente
   SET idSuscriptor=2

   UPDATE   Cliente
   SET idSocio=2
    where  id in  ( 80 , 81 )

	   UPDATE   Cliente
   SET idSocio=2
    where  idSocio in  ( 0)


	select  * FROM [CuentaUsuario]   where grupos='1'

	update   [CuentaUsuario] 
	set grupos='2'
	where grupos='1'

 SELECT TOP (1000) [IdGrupo]
      ,[Nombre]
      ,[Activo]
      ,[IdSuscriptor]
      ,[Privilegios]
  FROM [DB_A72B95_drp].[dbo].[Grupo]



  	select  * from   dbo.ObtenerListaPorNombreValor ('')
EXEC VerTramite  'LINEAIV',0,1

	EXEC VerDashBoard  'LINEAIV',0,1


exec  ConsultarMisPendientes 'LINEAIV','',1


EXEC VerEstadisticasFlujoPorVista  'LINEAIV','vista=3',1


EXEC VerProductividadVencidas 'LINEAIV','',1

EXEC Seguimiento 'LINEAIV','01907402703',1






	 